aioice==0.10.1
aiortc==1.13.0
altgraph==0.17.4
av==14.4.0
awscrt==0.28.1
boto3==1.37.16
botocore==1.37.16
certifi==2025.1.31
cffi==2.0.0
charset-normalizer==3.4.1
cryptography==46.0.1
dnspython==2.8.0
google-crc32c==1.7.1
idna==3.10
ifaddr==0.2.0
imageio==2.37.0
jmespath==1.0.1
lazy_loader==0.4
macholib==1.16.3
networkx==3.5
numpy==2.2.6
numpy-stl==3.2.0
opencv-python==4.12.0.88
packaging==24.2
paho-mqtt==2.1.0
pillow==11.2.1
pycparser==2.23
pyee==13.0.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyJWT==2.10.1
pylibsrtp==0.12.0
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-utils==3.9.1
rdkit==2025.3.6
requests==2.32.3
s3transfer==0.11.4
scikit-image==0.25.2
scipy==1.16.2
setuptools==78.1.0
six==1.17.0
tifffile==2025.9.20
typing_extensions==4.15.0
urllib3==2.3.0
xmltodict==1.0.2
